<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                <h1>Vista de productos</h1>
                {{#if hayProductos }}
                <table class="mt-4 table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Foto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each productos}}
                        <tr>
                            <td>{{title}}</td>
                            <td>{{price}}</td>
                            <td><img alt="icon" src="{{thumbnail}}" style="max-height: 40px;"></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <div class="alert alert-warning mt-3">
                    No se encontraron productos
                </div>
                {{/if}}
                <div class="mt-4">
                    <a href="/">Inicio</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>